.container {
  background-color: red;
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
}
.footer {
  background-color: green;
  margin-top: 100px;
}
.header {
  background-color: blue;
}
